.menu .menus {
    display: none;
}
#center{height: 581px;
        width: 100%;
    background-color: #f5f5f5;
margin-bottom: 20px}
.w{
    width: 1190px;
    margin: 0 auto;
}
.da{
    height: 17660px;
}
.bendian{
    width: 250px;
    float: left;
    height: 1900px;
}
.bd-top{
    margin-bottom: 10px;
}
.h4{
    border:1px solid #cbcad0;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    width: 243px;
}
.h4 h4{
    font-weight: 400;
    padding:0 8px;
    font-size: 16px;
    color: #222;

}
.in-box{
    padding:8px;
    font-size: 16px;
    color: #222222;
    border: 1px solid #cbcad0;
    border-top: 0;
    overflow: hidden;
}
.key{
    margin-top: 10px;
}
.in-box p{
    padding: 2px;
    margin-bottom: 10px;
}
.in-box p label{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}
.in-box input{
    border: 1px solid #cccccc;
    padding: 2px;
}
#sp-key{
    width: 130px;
    height: 25px;
}
.inp{
    width: 50px;
    height: 25px;
}
.mmm{
    text-align: center;
}
button{
    background-color:#e8e9eb ;
    height: 25px;
    width: 60px;
    font-size: 12px;
    border: 1px solid #bdbec2;
    border-radius: 3px;
}
.bd-cen{
    border: 1px solid #cbcad0;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}
.bd-cen span{
    font-size: 16px;
    color: #000;
    width: 48%;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.bd-bto{
    border: 1px solid #cbcad0;
    border-top:0;
}
.jiu1{
    /*text-align: center;*/
    overflow: hidden;
    padding-top: 10px;
    margin: 0 19px 10px;
    background: url(../img/inte-line.png) repeat-x left top;
}
.jiu1 img{
    width: 100%;
    height: 100%;
}
.jiu1 p{
    line-height: 1.5em;
    height: 42px;
    width: 210px;
    font-size: 14px;
    padding-top: 15px;
    padding: 7px 0 0;
    color: #222;
    /*margin-left: 25px;*/
}
.jiu1 a{
    color: #222;
}
.jiu1 .e{
    color: #e53c3f;
    display: block;
    /*position: absolute;*/
    width: 18px;
    height: 18px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    border: 1px solid #e53c3f;
    border-radius: 100%;
}
.jiu1 span:first-child{
    /*margin-left: 10px;*/
float:left}
.jiu1 span:last-child{
    float: right;
    margin-right: 30px;
    color: #E53C3F;
}

.jiu1 b{
    /*padding-left: 25px;*/
    font-weight: 400;
    color: #666;
}
.xiangqing{
    float: right;
    width: 910px;
}
.xq-1{
    padding-top: 2px;
}
.xq-1-1{
    height: 56px;
    margin-bottom: 2px;
}
.xq-1-2{
    top: auto;
    z-index: 5;
    height: 56px;
    width: 908px;
    border: 1px solid #cbcad0;
    position: relative;
}
.xq-1-2 ul{
    float: left;
    margin-left: -1px;
    overflow: visible;
}
.xq-1-2 li{
    float: left;
    text-align: center;
    height: 53px;

    margin-top: -1px;
    line-height: 53px;
    padding: 0 26px;
    font-size: 16px
}
.xq-1-2 li:first-child{
    color: #f43a3e;
    border-top: 4px solid #f43a3e;
}
.xq-2-1{
    padding: 8px;
    border: solid #cbcad0;
    border-width: 0 1px 1px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 10px;
}
.xq-2-1 li{
    float: left;
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px 0;
}
.xq-2-3{
    width: 908px;
    /* margin: 20px auto; */
    overflow: hidden;
    background: white;
    /* background: #cbcad0; */
    padding: 2px 0 0 0;
    /* max-width: 790px; */
    border-top: 2px #ccc solid;
    border-left: 2px #ccc solid;
}
.xq-2-4 li{
    width: 225px;
    /* margin: 0 0 2px 2px; */
    float: left;
    background: #fff;
    position: relative;
    border-right: 2px #ccc solid;
    border-bottom: 2px #ccc solid;
}
.xq-2-4 li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #666;
}
.xq-2-4 li .lp-icon {
    width: 50px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}
.lp-img {
    width: 220px;
    height: 210px;
    margin: 0 auto;
}
.xq-2-4 li a img {
    width: 100%;
}
.lp-price {
    color: #f00f34;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin: 15px 0 0;
    padding: 0 5px;
    text-align: left;
}
span{
    display: inline-block;
}
.lp-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333;
    margin: 15px 0 10px;
    padding: 0 5px;
}
.breadcrumb {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    vertical-align: baseline;
    /* padding-left: 20px; */
    width: 1170px;
    background: #fff;
    font-size: 14px;
    padding: 12px 0 12px 20px;
}
.breadcrumb strong {
    font-weight: normal;
    line-height: 20px;
    display: inline;
    font-size: 14px;
}
.breadcrumb strong a{
    color: #333333;
}
.breadcrumb span a {
    color: #666;
    font-size: 14px;
}
#name{
    width:490px;
    float: left;
    margin-left: 53px;
}
#product-intro #name h1 {
    font-size: 18px;
    font-weight: normal;
    color: #222222;
}
#product-intro #name strong {
    display: block;
    color: #ff0000;
    font-size: 14px;
    font-weight: normal;
}
#product-intro #summary {
    float: left;
    width: 490px;
    font-size: 14px;
}
#product-intro #summary li {
    padding: 8px 0;
    overflow: hidden;
}
#product-intro #summary #summary-price .t {
    background: url(../img/price-info_bg.jpg);
    height: 56px;
    line-height: 56px;
    text-align: right;
}
#product-intro .dt {
    float: left;
    width: 50px;
}
#summary-price .dt01 {
    font-size: 16px;
}
#summary-price .p-price.brnone {
    border-right: none;
}
#product-intro .dt {
    float: left;
    width: 80px;
}
#summary-price .p-price {
    color: #ee3e1b;
    padding-left: 10px;
    font-size: 26px;
    width: auto;
    height: 31px;
    border-right: 1px dotted #a49e9e;
    line-height: 30px;
    margin-top: 13px;
    padding-right: 20px;
}
#fd-left{
    /*position: absolute;*/

    width: 352px;
    height: 484px;
    float: left;
}
.fd-img{
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
    background-color: aquamarine;
    /*position: relative;*/
}


#big{
    width:350px;
    height:350px;
    position:absolute;
    top : 235px;
    left : 560px;
    overflow:hidden;
    display:none;
    z-index: 20;
    border: 1px solid #dcdcdc;
}
#mask{
    width:96px;
    height:96px;
    background:#ffffff;
    border: 1px solid #dcdcdc;
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
    cursor:move;
    display:none
}
#small{
    width:350px;
    height:350px;
    position:relative;
}
#small img{
    width: 100%;
    height: 100%;
}
#bigImg{
    width: 225%;
    height: 225%;
    position:absolute;
    left:0;
    top:0;
}















.soucang{
    line-height: 20px;
    background: url(../img/product-details-icon.png) no-repeat 0 -117px;
    padding-left: 22px;
    float: left;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.soucang a{
    color: #000000;
}
.fenxiang{
    margin-top: 30px;
    width: 200px;
    height: 20px;
    float: right;
}
.z1,.z2,.z3{
    /*float: left;*/
    width: 16px;
    height: 16px;
    margin-left: 3px;

    display: inline-block;
}
.zo{
    display: inline-block;
    float: left;
}
.z1{

    background: url(../img/share_icon_mini.png) 0 0 no-repeat;
}
.z2{

    background: url(../img/qzone.png) 0 0 no-repeat;
}
.z3{

    background: url(../img/wx.png) 0 0 no-repeat;
}
.jiage{
    width: 490px;
    height: 56px;
    float: left;
    margin-left: 53px;
    background: url(../img/price-info_bg.jpg);
}
.aw{
    float: left;
    width: 50px;
    font-size: 16px;
    margin-top:17px;
    text-align: right;
}
.qwq{
    color: #ee3e1b;
    padding-left: 10px;
    font-size: 26px;
    font-family: microsoft yahei;
    width: auto;
    height: 31px;
    line-height: 30px;
    margin-top: 13px;
    padding-right: 20px;
    float: left;
}
.jiage div{
    width: 104px;
    height: 26px;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    border: 1px solid #ededed;
    background: #fff;
    float: right;
    margin-top: 15px;
    margin-right: 16px;
}
.jiage div img{
    margin-top: 5px;
    margin-left:9px ;
    float: left;
    width: 15px;
    height: 15px;
}
.jiage div span{
    display: inline-block;
    width: 50px;
    height: 16px;
    color: #222222;
    font-size: 14px;
    margin-top: 3px;
    margin-left:6px  ;

}
 .bbb {
    height: 45px;
    border-bottom: 1px dashed #cbcad0;
    padding-left: 20px;
     float: left;
     width: 490px;
     margin-left: 53px;
}
 .bbb .dt {
     margin-top: 10px;
     font-size: 14px;
 }
.bbb .b-01 {
    width: auto;
    border-right: 1px solid #a49e9e;
    padding: 0 30px;
}
.bbb .b-02 {
    padding-left: 40px;
}
.bbb a{
    color: #e3393c;display: inline-block;
}
.cuxiao{
    float: left;
    width: 490px;
    height: 178px;
    border-top: 1px dashed #cbcad0;
    border-bottom: 1px dashed #cbcad0;
    margin-left: 53px;
}
.anjiu{
    float: left;
    width: 490px;
    height: 38px;
    margin-left: 53px;
    margin-top: 10px;
}
.buy{
    float: left;
    width: 490px;
    margin-left: 53px;
    height: 48px;
}