/*导航栏样式*/
#navigation{
    width: 100%;
    height: 31px;
    background-color: #f5f4f4;
    border-bottom: 1px solid #e6e6e6;
}
#navigation div,#logo>div,#nav{
    width: 1191px;
    margin: auto;
}
#navigation div{

    height: 100%;

    line-height: 31px;
    font-size: 12px;
    color: #7f7f7a;
}
#navigation .one{
    margin-left: 8px;
    color: #000000;
}
#navigation .two{
    margin-left: 18px;
    color:#e3393c;
}
.hello,.please,#navigation li,.lg,.gif,.search{float: left}
.please{
    margin-left: 44px;
}
.please a{
    color:#7f7f7a ;
}
.please span:nth-child(2){
    width: 2px;
    height: 11px;
    background-color: #e8e6e8;
    display: inline-block;
}
.please span:nth-child(2),.please span:nth-child(3){
    margin-left:11px ;
}
#navigation ul{
    margin-right: 8px ;
    float: right;
}
#navigation .top_ul li{
    height: 21px;
    margin-top: 4px;
    line-height: 12px;
    padding-top: 6px;
}
#navigation li:hover{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom: none;

}
#navigation .top_ul li a{
    color:#7f7f7a;
    /*display: inline-block;*/
    line-height: 12px;
    margin-left:8px ;
    margin-right: 8px;

}
.sanjiao{
    display: inline-block;
    height: 0;
    width: 0;
    border-top:4px solid #cecece ;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#navigation .sanjiao{
    margin-left: 2px;
    margin-bottom: 4px;
}
/*logo*/
#logo>div{
    height: 120px;
}
.lg,.gif,.search{
    margin-top: 30px;
}
.gif{
    margin-left: 10px
}
.search{
    margin-left: 22px;
}
.kuang{
    width: 586px;
    height: 34px;
    border: 2px solid #dd0207;
    line-height: 34px;
    font-size: 12px;
}
.shang{
    width: 54px;
    height: 34px;
    text-align: center;
    float: left;
}
.shang p{
    margin-left: 10px;
    display: inline-block;

}
.shang .sanjiao{
    border-top:5px solid #cecece ;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-bottom: 2px;
    margin-left: 6px;
}
.search input{
    float: left;
    height: 32px;
    width: 450px;
    border: none;
    margin-top: 1px;
    color:#c6b1bb ;
    font-size: 12px;
    padding-left:12px;
}
.sou{
    width: 67px;
    height: 34px;
    background-color: #dd0207;
    float: left;
    color: white;
    text-align: center;
    margin-left: 3px;
    border: none;
    outline: none;
}
.jiuming a{
    margin-top:8px;
    margin-right:12px ;
    color: #666666;
    font-size: 12px;
}
.jiuming a:first-child{
    color: #e3393c;
}
.jiuming a:hover{
    color: #e3393c;
}
.right_img{
    float: right;
    margin-top: 20px;
}
/*nav*/
nav{border-bottom:1px solid #DD0207 ;}
#nav{
    height: 35px;
    position: relative;
}
#nav>div{
    height: 37px;
    width: 200px;
    float: left;
    /*position: absolute;*/
}
.classify{
    height: 35px;
    background-color: #dd0207;
    line-height: 35px;
    text-align: center;
    font-size: 16px;

}
.classify a{
    color: white;
    background: url("../img/nav1.png") no-repeat 24px center;
    width: 200px;
    display: block;
}
#nav ul,#nav ul li{
    float: left;
    line-height: 35px;
}
#nav ul li{
    font-size: 15px;
    margin-right: 78px;

}
#nav ul li:first-child{
     margin-left: 56px;
 }
#nav ul li a{
    color: #373a40;
}
#nav ul li:first-child a{
    color:#f00f34
}
#nav ul li a:hover{
    color:#f00f34
}
.menus{
    width: 200px;
    height: 480px;
    position: absolute;
    top: 37px;
    left: 0;
    background-color: #3d4851;
    padding-top: 4px;
    padding-bottom: 6px;
    z-index: 999;
}
.menus .item{
    width: 184px;
    height: 80px;
    border-bottom: 1px solid #323b42;
    padding-left:16px;
}
.menus .item h3{
    padding: 19px 0 12px;
}
.menus .item h3 a{
    font-size: 14px;
    color:#FFFFFF ;
    display: block;
    padding-left: 20px;
}
.menus .item:nth-child(1) h3 a{ background: url("../img/baijiu.png") no-repeat left center;}
.menus .item:nth-child(2) h3 a{ background: url("../img/baijiu1.png") no-repeat left center;}
.menus .item:nth-child(3) h3 a{ background: url("../img/baijiu2.png") no-repeat left center;}
.menus .item:nth-child(4) h3 a{ background: url("../img/baijiu3.png") no-repeat left center;}
.menus .item:nth-child(5) h3 a{ background: url("../img/baijiu4.png") no-repeat left center;}
.menus .item:nth-child(6) h3 a{ background: url("../img/baijiu5.png") no-repeat left center;}
.menus .item p a{
    font-size: 13px;
    color:#FFFFFF ;
    padding: 3px 4px;
}
.menus .item .write_a{
    background: #FFFFFF;
    border-radius: 2px;
    color:#323c43 ;
}
.hidden{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: 222;
    background-color: #f7f7f7;
    width: 780px;
    height: 490px;
    display: none;
}
.hidden .bai{
    width: 518px;
    height: 468px;
    background-color: #FFFFFF;
    padding: 22px 52px 0 30px;
    float: left;
}
.hui{
    text-align: center;
}
.hui p{margin-top: 13px}
.hui img{
    margin-top:14px ;
}
.bai h3{
    margin-top: 26px;
}
.bai h3:first-child{
     margin-top: 0;
 }
.bai hr{
    margin-top: 20px;
    margin-bottom: 8px;
}
.bai a{
    font-size: 12px;
    color: #666666;
    margin-top: 13px;
    width: 87px;
    display: inline-block;
}
.bai .xu{
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #dbdbdb ;
    margin-top: 36px;
}
/*轮播图*/
#banner{
    width: 100%;
    height: 491px;
    overflow: hidden;
    position: relative;
    top: -1px;
}
#banner>img{
    width: 100%;
    height: 491px;
    display: block;
}
.pic li img{
    width: 100%;
    height: 491px;
}
.lib{    margin-left: 715px;
    height: 18px;
    position: absolute;
    top: 457px;
}
.lib li{
    display: inline-block;
    line-height: 18px;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 2px 9px 0;
}
.lib .on {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    margin: 0 7px;
}
#wrap{
    position: relative;
}



.banner_right{
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -593px;
    width: 200px;
    height: 490px;
    z-index: 5;
}
.banner_right img{
    width: 100%;
    height: 243px;
}
.banner_right img:last-child{
    margin-top: 4px;
}
.banner_right img:hover{
    transition:all 0.3s;
    transform:translateX(-5px);
}
/*热销爆款*/
#rexiao{
    width: 1190px;
    /*margin-bottom:30px;*/
    /*margin-top:10px;*/
    margin:auto ;
}
.rexiao_top{
    height: 35px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 10px;
    margin-top: 20px;
}
.rexiao_top span:first-child{
    width: 185px;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    float: left;
    color:#cc0000 ;
    border-top:2px solid #cc0000 ;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #FFFFFF;
    /*margin-bottom: -1px;*/
}
.rexiao_top span:last-child{
    float: right;
    line-height: 30px;
    font-size: 16px;
    color: #666666;
}
#rexiao ul{
    width: 1206px;
    height: 460px;
    margin-bottom: 30px;
}
#rexiao li{
    float: left;
    width: 230px;
    height: 220px;
    margin-right: 10px;
    margin-top: 10px;
}
#rexiao li img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ;
}
#rexiao li img:hover{
    transform: translateX(-5px);
}
.floors{
    width:1190px ;
    margin: auto;
}
.floor{
    width: 100%;
}
.floor_top{
    height: 32px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 4px;
}
.floor_top h3{
    height: 18px;
    width: 20%;
    float: left;
    line-height: 18px;
    color: #3d4048;
    font-size: 16px;
    border-left: 4px solid #f00f34;
    padding-left: 12px;
    font-weight: bold;
}
.floor_top ul{
    float: right;
    line-height: 32px;
    margin-right: 20px;
}
.floor_top li{
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color: #2c2c2c;
    cursor: pointer;
    height: 32px;
    position: relative;
}
.floor_top li:hover{
    color: #e3393c;
}
.floor_body{
    width: 1190px;
    height: 681px;
}
.left_top{

    float: left;
    background-color: #fbfbfb;
    margin-right: 10px;

}
.left_top,.left_top_tu{
    width: 230px;
    height: 450px;
    position: relative;
}
.left_top_tu img{
    width: 100%;
    height: 100%
}
.left_top_zi{
    width: 230px;
    height: 124px;
    position: absolute;
    left: 0;
    bottom: 185px;
}
.left_top_zi ul{
    margin: 26px 0 26px;
    float: left;
}
.left_top_zi ul:first-child{
    margin-left:26px ;
}
.left_top_zi ul:last-child{margin-left: 20px}
.left_top_zi li{
    /*float: left;*/
    width: 83px;
    height: 24px;
    line-height: 24px;
}
.left_top_zi a{
    font-size: 12px;
    color: #292929;
}
.left_top_lunbo{
    float: left;
    width: 230px;
    height: 171px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}
.left_top_lunbo .prev{
    width: 9px;
    height: 14px;
    background: url("../img/Himall_web.png") no-repeat -1351px -26px;
    position: absolute;
    left: 4px;
    top: 62px;
    cursor: pointer;
}
.left_top_lunbo .next{
    width: 9px;
    height: 14px;
    background: url("../img/Himall_web.png") no-repeat -1377px 0;
    position: absolute;
    right: 4px;
    top: 62px;
    cursor: pointer;
}
.banner_box{
    width: 188px;
    height: 142px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.img_box{
    width: 800px;
    height: 142px;
    position: absolute;
    transition: 1s;
    /*left: 0;*/
}
.banner_a{
    width: 188px;
    height: 142px;
    float: left;
    position: relative;
    margin:20px 0 0 0 ;
}
.banner_a li{
    float: left;
    width: 90px;
    height: 45px;
    margin-right:6px;
    margin-bottom: 6px;
    background: #FFFFFF;
}
.banner_a li img{
    width: 86px;
    height: 45px;
}
 #no_margin{
    margin-right: 0;
}
.right_top{
    float: left;
    width: 950px;
    height: 450px;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.right_top_box{
    position: absolute;
    background: #FFFFFF;
    /*display: none;*/
}
.right_top_box ul{
    width: 950px;
    overflow: hidden;
}
.right_top_box li{
    float: left;
    width: 230px;
    height: 220px;
}
.right_top_box li img{
    width: 100%;
    height: 100%;
}
.right_top_box .fore1{
    width: 470px;
    height: 450px;
    margin-right: 10px;
}
.fore2,.fore4{
    margin-right: 7px;
}
.fore2,.fore{
    margin-bottom: 9px;
}
.xijiu{
    width: 100%;
    height: 230px;
}
.xijiu li{
    margin-right: 10px;
    width: 230px;
    height: 220px;
    float: left;
    margin-top: 10px;
}
.xijiu li:nth-child(2){
    width: 470px;
    height: 220px;
}
.xijiu li:nth-child(4){
    margin-right: 0;
}
.kouliang ul{
    width: 980px;
}
.kouliang li{
    width: 160px;
    height: 205px;
    padding: 10px 15px;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    float: left;
}
.kouliang li img{
    width: 160px;
    height: 160px;
}
.ren{
    margin-top: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #f00f34;
}
.kouliang li p:last-child{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ensure{
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #d6d6d6;
    background: #f8f8f8;
}
.center{
    width: 1190px;
    margin: 0 auto;
}
.ensure dl{
    margin-right: 36px;
    margin-top: 33px;
}
.fl{
    float: left;
}

.ensure dl dt{
    width: 55px;
    height: 40px;
}
.fr{
    float: right;
}
.fr h3{
    font-size: 16px;
    color: #313131;
    padding-bottom: 4px;
}
.fr p{
    font-size: 13px;
    color: #666666;
}
.zhengpin{  background: url("../img/xiaotu.png") 0 -37px no-repeat;}
.lingjun{  background: url("../img/xiaotu.png") -57px -37px no-repeat;}
.tuihuo{  background: url("../img/xiaotu.png") -125px  -37px no-repeat;}
.peisong{  background: url("../img/xiaotu.png") -181px -37px no-repeat;}
.koubei{  background: url("../img/xiaotu.png") -241px -37px no-repeat;}
.fuwu{  background: url("../img/xiaotu.png") -301px -37px no-repeat;}
.fservice{
    width: 100%;
    height: 189px;
    background: #f3f3f3;
    padding-top: 35px;
}
.fservice dl{
    float: left;
    width: 141px;
}
.di{
    margin-bottom: 20px;
}
.fservice dt{
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
}
.fservice dd,.fservice dd a{
    height: 24px;
    line-height: 24px;
    color: #666;
    font-size: 12px;
}
.fservice .link{
    width: 200px;
    margin-top: 5px;
}
.fservice .link>dd{
 height: 30px;
}
.fservice .weixin,.fservice .web{
    float: right;
    width: 110px;
    margin-top: -10px;
}
.weixin{
    margin-right: 25px;
}
.weixin dt,.web dt{
    text-align: center;
}
.weixin dd,.web dd{
    padding-top: 90px;
    display: block;
    text-align: center;
}
.weixin dd{
    background: url("../img/wx.jpg") center top no-repeat;
}
.web dd{
    background: url("../img/mob.jpg") center top no-repeat;
}
.wanghzan{
    height: 39px;
    line-height: 39px;
    background-color: #313131;
    text-align: center;
    clear: both;

}
.wanghzan a{
    padding: 0 14px;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
}
.wanghzan a:first-child{
    border: none;
}
.copuright{
    height: 110px;
    text-align: center;
}
.copuright p{
    color: #666666;
    padding: 10px 0 0;
    font-size: 12px;
}
.beian a{
    display: inline-block;
    width: 114px;
    height: 41px;
    margin: 0 0 0 5px;
}
.beian a img{
    width: 100%;
    height: 100%;

}
.pinpai{
    width: 1190px;
    height: 413px;
    margin: 16px auto 0;

}
.pinpai h3{
    font-size: 18px;
    color: #3d4048;
    height: 18px;
    padding-bottom: 15px;
    line-height: 18px;
}
.xzq{
    height: 380px;
    width: 1190px;
    /*position: relative;*/
    /*left: 0;*/
}
.xzq_left,.xzq_center,.xzq_right{
    width: 280px;
    height: 350px;
    float: left;
}
.xzq_left img{
    width: 280px;
    height: 350px;
}
.xzq_center{
    width:550px;
    height: 307px;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
}
.xzq_center .zq_prev,.xzq_center .zq_next{
    width: 26px;
    height: 38px;
    position:absolute ;

    cursor: pointer;

}
.xzq_center .zq_prev{
    background:url("../img/Himall_admin.png") no-repeat -4px 0;
    left: 7px;
    top:152px;

}
.xzq_center .zq_next{
    background:url("../img/Himall_admin.png") no-repeat -4px -40px;
    right: 7px;
    top:152px;
}
.xzq_center .zq_wrap,.zq_lunbo,.zq_lunbo_a{
    width: 550px;
    height: 306px;

}
.xzq_center .zq_wrap{
    overflow: hidden;
}
.zq_lunbo_a{
    float: left;
    position: relative ;
}
.zq_lunbo li{
    width: 110px;
    height: 100px;
    float: left;
}
.zq_lunbo_a li a{
    width: 111px;
    height: 62px;
    margin-top: 20px;
    display: inline-block;
    background: url("../img/brand_03.png") no-repeat right center;
}
.zq_lunbo .zq_lunbo_a li:nth-child(5n) a{
    background: none;
}
.zq_lunbo_a li a img{
    width: 100px;
    height: 50px;
    margin: 6px auto;
}